extend layout
block content
  .row.padding
    h1 Hack Weekend
    p What better way to spend a weekend than to build something awesome in the company of people who love to build stuff as well.
    p The goal of the hack weekend is to have fun and try something new, if you want to try and new language or mash together APIs you've never used, go for it.
    .text-center
      br
      a.btn(href="/tickets" title="Tickets" alt="Tickets")
        i.fa.fa-lg.fa-ticket
        span &nbsp;Register
    br
    p On the 20th to 21st September, don't miss it!
  .row.padding
    h2 Challenges and Prizes
    p It's challenging enough to finish something in less than two days, but just to give it a nice top we will be giving away a few prizes.
    p Also, some of the attending APIs and SDKs have challenges or a prize so check those out below
  .row.padding
    h2 APIs
  .row.padding
    p If you'd like to have your API or SDK available&nbsp;
      a(href="mailto:mike@hackference.co.uk") email us
      |  or&nbsp;
      a(href="http://twitter.com/hackferencebrum" target="_blank") tweet us
      |  and we will get it organised.
