extend layout
block content
  .full.banner.blue-bg
    img.opacity(src="/images/backgrounds/banner.jpg", alt="banner", class="opacity", width="", height="")
    .wrapper.clearfix
      .banner-container.perfect
        img.logo(src="/images/logo.png", alt="logo", width="", height="")
        h2.green-text September 19
          sup th
          |  - 21
          sup st
        button.overlay-toggle
          a order tickets
  .full
    .wrapper.nice-padding.wow.fadeInUp
      h1 The Hackference
      p Hackference is a three day technology driven event in the heart of Birmingham. The first day conference will include several talks from leading tech specialists. This will then be followed up by a two day hackathon. We aim to provide developers with new and exciting tools to add to their hacking arsenal.</p>
      p This year we’re doing things a little differently. Not only will we be showcasing some of the greatest names in the development world, we will also be heading into the front end of the web. Frontend or backend, there is something here for you. Check out our awesome speakers.
  .full.black-bg.wow.fadeInUp
    .half
      img.slight-opacity(src="/images/fazeley.jpg", alt="fazeley")
      .venue-container.perfect
        h2 Fazeley Studios
        h4 conference venue
        p 191 Fazeley Street, Digbeth, Birmingham, B5 5SE
          br
          | www.fazeleystudios.com
          br
          a(href="tel:+441212247785") +441212 247785
          br
          a(href="http://twitter.com/FazeleySocial") @FazeleySocial
    .half
      img.slight-opacity(src="/images/hack.jpg", alt="hack")
      .venue-container.perfect
        h2 Innovation B'ham
        h4 hack venue
        p Faraday Wharf, Holt St, Birmingham, B7 4BB
          br
          | http://www.innovationbham.com/
          br
          a(href="tel:+441212606000") +441212 606000
          br
          a(href="https://twitter.com/innobham") @innobham
block tickets
  include includes/ticket-conference
