extend layout
block content
  .row.padding
    h1 Information
    p You can find everything you need here, however, if we are missing anything please tell us and we will add it as soon as possible.
  .row.padding
    h2 Contact
    h3 Organiser - Mike Elsmore
    ul.term-points
      li
        a(href="mailto:mike@hackference.co.uk")
          i.fa.fa-envelope
          |  mike@hackference.co.uk
      li
        a(href="tel:+447816961602")
          i.fa.fa-mobile
          |  +447816961602
      li
        a(href="http://twitter.com/ukmadlz" target="_blank")
          i.fa.fa-twitter
          |  ukmadlz
    h3 Conference Venue - Fazeley Studios
    ul.term-points
      li
        a(href="http://www.fazeleystudios.com/contact.php" target="_blank")
          i.fa.fa-external-link
          |  http://www.fazeleystudios.com/contact.php
      li
        a(href="tel:+441212247785")
          i.fa.fa-phone
          |  +441212247785
  .row.padding.clearfix
    h2 Location
    .clear
    .half
      h3 Conference
      iframe(width="100%", height="250", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=191+Fazeley+Street,+Birmingham&amp;aq=0&amp;oq=191+Fazele&amp;sll=51.468489,-2.590709&amp;sspn=0.260494,0.572662&amp;ie=UTF8&amp;hq=&amp;hnear=191+Fazeley+St,+Birmingham,+UK+B5+5SE,+United+Kingdom&amp;t=m&amp;z=14&amp;ll=52.47785,-1.881628&amp;output=embed")
      br
      small
        a(href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=191+Fazeley+Street,+Birmingham&amp;aq=0&amp;oq=191+Fazele&amp;sll=51.468489,-2.590709&amp;sspn=0.260494,0.572662&amp;ie=UTF8&amp;hq=&amp;hnear=191+Fazeley+St,+Birmingham,+UK+B5+5SE,+United+Kingdom&amp;t=m&amp;z=14&amp;ll=52.47785,-1.881628", style="color:#0000FF;text-align:left") View Larger Map
      p
        | 191 Fazeley Street, 
        | Digbeth, Birmingham, 
        | B5 5SE
    .half
      h3 Hack Weekend
      p To Be Confirmed
  .row.padding
    h2 
  .row.padding
    h2 Refunds
    p Tickets are non-refundable. If you have booked a ticket and are no longer able to attend you have some options:
    ul.term-points
      li You could let us know so that we can make your seat available to somebody else.
      li You could give / sell your ticket to someone else. If you choose to sell your ticket, we ask that you sell it at the price you paid for it.
    p Either way, we would appreciate it if you could let us know so that we can keep our attendee list up to date.