<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    title #{title} | #{page}
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css') 
  body.home.animated.fadeIn
    .social-bar
      ul
        li
          a(href="https://twitter.com/hackferencebrum") t
        li
          a(href="https://github.com/hackference") g
        li
          a(href="http://lanyrd.com/2014/hackference") l
        li
          a(href="https://joind.in/event/hackference2014") j
    .site-wrapper.clearfix
      .wrapper.clearfix
        header.site-header
          nav.nav-bar.clearfix
            ul
              include includes/menu
      block content
      include includes/subscribe
      footer
        include includes/sponsors
        .full.dark-grey
          .wrapper
            .third
              p.text-left &copy;2014 Hackference | Run by 
                  a(href="https://twitter.com/ukmadlz") Mike Elsmore
            .third
              p Photography by 
                  a(href="https://www.flickr.com/photos/andypiper/sets/72157635300181024/") Andy Piper
                  |  &amp; 
                  a(href="http://www.cassandralane.co.uk") Cassandra Lane
            .third
              p.text-right Website by 
                  a(href="http://b9media.co.uk") B9 Media
                  |  | Hosted on 
                  a(href="https://www.heroku.com") Heroku
      .scrolled-nav
        .wrapper.clearfix
          a(href="/")
            img.alt-logo(src="/images/logo.png" alt="logo")
          .mobile-show
            a.menu
              span
          ul.mobile-hide
            include includes/menu
      .site-overlay
        a.overlay-close close
        .code-wrapper
          block tickets
    script(src="http://code.jquery.com/jquery-1.11.0.min.js", type="text/javascript")
    script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js", type="text/javascript")
    script(src="/javascript/site.js", type="text/javascript")
    script(src="/javascript/wow.min.js", type="text/javascript")
    // Tracking shizzle
    script
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.insertBefore(d,q)}(window,document,'script','_gs');_gs('GSN-212769-I');(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41030549-2', 'hackference.co.uk');ga('send', 'pageview');