<!DOCTYPE html>
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0")
  body
    header
      img(src='http://2013.hackference.co.uk/img/hackference_logo.png')
    .container
      .main-content
        block content
      .sidebar
        .widget
          form(class="subscribe" action="http://hackference.createsend.com/t/i/s/fjdku/" method="post")
            h2
              | Receive updates about #{title}
            label(for="fieldName")
              | Name
              input(id="fieldName" name="cm-name" type="text" placeholder="Your Name")
            label(for="fieldEmail")
              | Email
              input(id="fieldEmail" name="cm-fjdku-fjdku" type="email" placeholder="Your e-mail" required)
            button(class="btn" type="submit")
              | Subscribe
        .widget
          ul(class="profiles")
            li
              a(href="http://lanyrd.com/2014/hackference") Lanyrd
            li
              a(href="https://joind.in/event/hackference2014") Joind.in
            li
              a(href="http://twitter.com/hackferencebrum") Twitter
        .widget
          h2 Sponsors
          a(href="http://www.winningmoves.com")
            img(src="/images/winning-moves.jpg")
    footer
      p
        | Run by 
        a(href="http://twitter.com/ukmadlz") Mike Elsmore @ukmadlz
        |  hosted on 
        a(href="http://heroku.com") Heroku
      p
        | Photos (with thanks) by 
        a(href="http://www.flickr.com/photos/andypiper/sets/72157635300181024/") Andy Piper
        |  
        a(href="http://twitter.com/andypiper") @andypiper
        |  and 
        a(href="http://www.cassandralane.co.uk/about/") Cassandra Lane
        |  
        a(href="http://twitter.com/_cassandralane") @_cassandralane
    a(id="github" href="https://github.com/hackference/hackference-2014")
      span Fork me on GitHub!
      span Fix the horrible code!
    script
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.insertBefore(d,q)}(window,document,'script','_gs');_gs('GSN-212769-I');
