extend layout
block content
  .row.padding
    h1 Sponsors
    p Hackference is in it's second year and is growing, with some of the best speakers on some of the most interesting subjects around at the moment.
      | If you would like to get infront of more than 250 developers over two events please contact 
      a(href="mailto:mike@hackference.co.uk") mike@hackference.co.uk
      |  about our packages and anything else.
    p Scroll down to review our current 
      a(href="#packages") packages
  .row.padding
    h2 Current Sponsors
  include includes/sponsors
  .clear
  a(name="packages")
  .row.padding
    h2 Sponsorship packages
    p We have something for all budgets, and as this is a community event every penny will be used to make the event better for all the attendees.
  .row.padding
    #accordion
      h3.btn#Bronze Bronze
      div
        a(name="Bronze")
        ul
          li Logo &amp; link on site
          li Logo on lanyard printout and inside both venues
          li E-shot to previous and current attendees about you and stating your support
          li 1 Conference pass (excluding speakers)
        p.btn.price &pound;200
      h3.btn#Silver Silver (3/3)
      div
        a(name="Silver")
        ul
          li Logo &amp; link on site
          li Logo on lanyard printout and inside both venues
          li E-shot to previous and current attendees about you and stating your support
          li Social Media release stating your sponsoring and URL of choosing
          li Branded freebie in delegate swag bag (supplied by sponsor)
          li Flyer handout in delegate pack (supplied by sponsor)
          li 2 Conference pass (excluding speakers)
        p.btn.price &pound;500
      h3.btn#Gold Gold (2/2)
      div
        a(name="Gold")
        ul
          li Logo &amp; link on site
          li Logo on lanyard printout and inside both venues
          li E-shot to previous and current attendees about you and stating your support
          li Logo displayed on AV between speakers
          li Social Media release stating your sponsoring and URL of choosing
          li Branded freebie in delegate swag bag (supplied by sponsor)
          li Flyer handout in delegate pack (supplied by sponsor)
          li 3 Conference pass (excluding speakers)
        p.btn.price &pound;750
      h3.btn#Platinum Platinum (1/2)
      div
        a(name="Platinum")
        ul
          li Logo &amp; link on site
          li Logo on lanyard printout and inside both venues
          li E-shot to previous and current attendees about you and stating your support
          li Logo displayed on AV between speakers
          li Company name and logo on conference video content which will be sent to all delegates and released to the public online
          li Social Media release stating your sponsoring and URL of choosing
          li Branded freebie in delegate swag bag (supplied by sponsor)
          li Flyer handout in delegate pack (supplied by sponsor)
          li 4 Conference pass (excluding speakers)
        p.btn.price &pound;1000
  .row.padding
    h2 Other bits
    p We do have other bits that would be amazing if people could cover, such as
    ul.other-sponsors
      li Afterparty
      li Lanyards
      li Hackathon Meals
      li Hackathon Drinks
      li Track/Hack Sponsorship
      li Student Tickets