extend layout
block content
  .full.top-bottom.clearfix
    h1 Sponsors
    p Hackference is in it's second year and is growing, with some of the best speakers on some of the most interesting subjects around at the moment.
      | If you would like to get infront of more than 250 developers over two events please contact
      a(href="mailto:mike@hackference.co.uk") mike@hackference.co.uk
      |  about our packages and anything else.
  .full.clearfix
    h2.green-text Sponsorship packages
    p We have something for all budgets, and as this is a community event every penny will be used to make the event better for all the attendees.
    table.text-center
      tr
        th
        th Platinum (1/2)
        th Gold (1/2)
        th Silver (2/3)
        th Bronze
      tr
        td.text-left Logo &amp; link on site
        td &#10004;
        td &#10004;
        td &#10004;
        td &#10004;
      tr
        td.text-left Logo on lanyard printout and inside both venues
        td &#10004;
        td &#10004;
        td &#10004;
        td &#10004;
      tr
        td.text-left E-shot to previous and current attendees about you and stating your support
        td &#10004;
        td &#10004;
        td &#10004;
        td &#10004;
      tr
        td.text-left Social Media release stating your sponsoring and URL of choosing
        td &#10004;
        td &#10004;
        td &#10004;
        td
      tr
        td.text-left Branded freebie in delegate swag bag (supplied by sponsor)
        td &#10004;
        td &#10004;
        td &#10004;
        td
      tr
        td.text-left Flyer handout in delegate pack (supplied by sponsor)
        td &#10004;
        td &#10004;
        td &#10004;
        td
      tr
        td.text-left Logo displayed on AV between speakers
        td &#10004;
        td &#10004;
        td
        td
        td
      tr
        td.text-left Company name and logo on conference video content which will be sent to all delegates and released to the public online
        td &#10004;
        td
        td
        td
      tr
        td.text-left Conference Passes
        td 4
        td 3
        td 2
        td 1
      tr
        th.text-left Price
        td &pound;1000
        td &pound;750
        td &pound;500
        td &pound;200
  .full.bottom.clearfix
    h2.green-text Other bits
    p We do have other bits that would be amazing if people could cover, such as
    ul.other-sponsors
      li Afterparty
      li WiFi
      li Lanyards
      li Hackathon Meals
      li Hackathon Drinks
      li Hack Sponsorship
      li Student Tickets
