extend layout
block content
  .row.padding
    h1 Tickets
    p
      | Grab your tickets for the event below
  .row.padding
    h2 Conference
    br
    div(style="width:100%; text-align:left;")
      iframe(src="https://www.eventbrite.co.uk/tickets-external?eid=8588032035&ref=etckt", frameborder="0", height="300px", width="100%", vspace="0", hspace="0", marginheight="5", marginwidth="5", scrolling="auto", allowtransparency="true")
      div(style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;")
        a(style="color:#ddd; text-decoration:none;", target="_blank", href="http://www.eventbrite.co.uk/r/etckt") Online event registration
        span(style="color:#ddd;") for 
        a(style="color:#ddd; text-decoration:none;", target="_blank", href="https://www.eventbrite.co.uk/e/hackference-2014-conference-tickets-8588032035?ref=etckt") Hackference 2.0.14 Conference 
        span(style="color:#ddd;") powered by 
        a(style="color:#ddd; text-decoration:none;", target="_blank", href="http://www.eventbrite.co.uk?ref=etckt") Eventbrite
  .row.padding
    h2 Hackathon
    h3 Coming Soon
  .row.padding
    h2 Refunds
    p Tickets are non-refundable. If you have booked a ticket and are no longer able to attend you have some options:
    ul
      li You could let us know so that we can make your seat available to somebody else.
      li You could give / sell your ticket to someone else. If you choose to sell your ticket, we ask that you sell it at the price you paid for it.
    p Either way, we would appreciate it if you could let us know so that we can keep our attendee list up to date.