/*
 * Import nib
 */
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #00a44c
background-color = #faf9f0
widget-color = #fff

/* Basics
*********************************/

div, article, section, header, footer, nav, li
  position relative

group:after
  display block
  height 0
  clear both
  content "."
  visibility hidden

*
  box-sizing border-box

body
  background #f9f9f9
  font-family 'Montserrat',sans-serif
  color #323131
  margin 0
  padding 0

html, body
  height 100%
  min-height 100%

::selection
  background #ff0
  color #333

img
  width 100%
  height auto

a
  img
    border 0

.clearfix:after
  content ''
  display block
  clear both

.clear-float
  clear both

p
  a
    font-size inherit


/* Grid Structure
*********************************/

.row
  width 100%
  height auto
  display block

header
  width 100%
  //height 400px
  position relative
  background url('/images/backgrounds/front_banner.jpg') no-repeat center center fixed 
  background-size cover
  .opacity
    background-color:rgba(0,0,0,0.7);
    height:400px;
  a img
    max-width 500px

.container
  max-width 1000px
  width 90%
  height auto
  margin 0 auto

.half
  width 50%
  height auto
  float left

.two-third
  width 65%
  height auto
  float left
  margin-right 2%

.third
  width 33%
  height auto
  float left
  padding 0 2em

.quarter
  width 25%
  height auto
  float left
  padding 1em

footer
  width 100%
  height auto
  background-color rgba(27, 27, 27, 0.9)
  color #f9f9f9

.sidebar
  padding 1em 0

.widget
  margin-bottom 3em


/* Positioning
*********************************/

.left
  float: left;

.right
  float right

.text-left
  text-align left

.text-right
  text-align right

.text-center
  text-align center

.fixed
  position fixed
  float left

.perfect
  width 80%
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)

.padding
  padding 1em 0

/* Header
*********************************/


header#Speakers
  background url('/images/backgrounds/speakers.jpg') no-repeat center center fixed 
  background-size cover

header#Tickets
  background url('/images/backgrounds/tickets.jpg') no-repeat center center fixed 
  background-size cover

header#Sponsors
  background url('/images/backgrounds/sponsors2.jpg') no-repeat center center fixed 
  background-size cover

header#Hack
  background url('/images/backgrounds/hack.jpg') no-repeat center center fixed 
  background-size cover

header#Info
  background url('/images/backgrounds/location_banner.jpg') no-repeat center center fixed 
  background-size cover


/* Navigation
*********************************/
nav
  background #000000
  z-index 999999
  text-align center
  .container
    .date
      padding 0.3em 0
      color #00a44c 
    ul
      li
        width 12.5%
        text-align center
        padding 10px
        display inline-block
        a
          display table
          span
            display table-cell
            vertical-align middle
            text-align center
          &:hover
            color #ffffff


/* Speakers
*********************************/

.speaker
  list-style: none

.speakers
  .quarter
    img
      max-width 90px
    p
      margin 0
      a
        font-size 0.8em
  .half
  .third
    .title
      font-size 0.9em
    .bio
      font-size 0.7em

/* entire container, keeps perspective */
.flip-container
  perspective 1000

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper
  transform rotateY(180deg)

.half
  .flip-container
  .front
  .back
    width 320px
    height 360px
.third
  .flip-container
  .front
  .back
    width 215px
    height 250px

/* flip speed goes here */
.flipper
  transition 0.6s
  transform-style preserve-3d
  position relative

/* hide back of pane during swap */
.front, .back
  backface-visibility hidden
  position absolute
  top 0
  left 0

/* front pane, placed above back */
.front
  z-index 2

/* back, initially hidden pane */
.back
  transform rotateY(180deg)


/* Terms
*********************************/

ul.term-points
  li
    padding 0.5em 1em

/* Typography
*********************************/

h1
  font-size 40px

h2
  font-size 28px
  color #00a44c

p
  font-size 18px
  line-height 1.6 

a
  text-decoration none
  font-size 14px
  color #00a44c

footer p
  padding 1em 0
  font-size 12px

.sidebar h2
  color #323131


/* Form
*********************************/

label
  //display none

input
  width 100%
  height auto
  padding 1em
  background-color #e0e0e0
  border 0
  outline 0
  color #383938
  margin-bottom 1em
  font-family 'Montserrat',sans-serif

.btn
  padding 1em 1.8em
  outline none
  border none
  background #00a44c
  color #f9f9f9


/* Form
*********************************/

ul.profiles
  li
    display inline-block
    width 50%
    text-align left
    margin 0.2em 0

/* Sponsors
*********************************/


.widget.sponsors
  .half
    display table
    a
      display table-cell
      vertical-align middle
      text-align center
  p
    font-size 0.8em

#accordion
  ul
    li
      margin 0.5em 0.8em
  .price
    color #00a44c
    background #000000
.other-sponsors
  li
    margin 0.5em 0.8em



/* Media Query
*********************************/

@media screen and (max-width: 900px)
  .two-third
    width 100%
  .third
    width 100%
    padding 0
  .widget
    width 48%
    float left
    margin-right 4%
  .widget:nth-child(2n)
    margin-right 0


@media screen and (max-width: 700px)
  .half
    width 100%
  .widget
    width 100%
    margin-right 0
  .quarter
    width 50%
  .quarter img
    max-width none !important
  header nav li a span
    display none !important

@media screen and (max-width: 380px)
  .quarter
    width 100%
    padding 0
    margin-bottom 1em

/**
GitHub Button
*********************************/
#github
  left -65px
  height 30px
  top 40px;
  position absolute
  text-decoration none
  width 250px;
  transform rotate(-45deg)
  span
    background black
    color white
    font-size 14px
    left 0
    padding 5px 0
    position absolute
    text-align center
    width 250px
    box-shadow rgba(black, 0.2) 1px 1px 10px
    transform transition opacity 1s
    &:last-child
      background red
      opacity 0
  &:hover span
    &:first-child
      opacity 0
    $:last-child
      opacity 1
@media all and (-webkit-transform-3d)
  #github
    span
      opacity 1 !important
      backface-visibility hidden
      transition transform 1s
      &:last-child
        transform rotateX(180deg)
    &:hover span
      &:first-child
        transform: rotateX(180deg)
      &:last-child
        transform: rotateX(360deg);