.row.padding.clearfix
  //h3 Platinum
  .half.padding
    a(href="http://developer.paypal.com")
      img(src="/images/sponsors/paypal-developer.png")
  .half.padding
    a(href="/sponsors#Platinum")
      img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Platinum+Sponsor+%7D")
    p Why not be a 
      a(href="/sponsors#Platinum") platinum sponsor
  .clear
.row.padding.clearfix
  //h3 Gold
  .half.padding
    a(href="/sponsors#Gold")
      img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Gold+Sponsor+%7D")
  .half.padding
    a(href="/sponsors#Gold")
      img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Gold+Sponsor+%7D")
  .clear
.row.padding.clearfix
  //h3 Silver
  .third.padding
    a(href="http://bladerunnerjs.org/")
      span 
        img(src="/images/sponsors/brjs-logo-full-black.png")
  .third.padding
    a(href="/sponsors#Silver")
      img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Silver+Sponsor+%7D")
  .third.padding
    a(href="/sponsors#Silver")
      img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Silver+Sponsor+%7D")
  .clear
.row.padding.clearfix
  //h3 Bronze
  .quarter.padding
    a(href="http://www.winningmoves.com", title="Winning Moves", alt="Winning Moves")
      img(src="/images/sponsors/winning-moves.jpg", title="Winning Moves", alt="Winning Moves")
  .quarter.padding
    a(href="/sponsors#Bronze")
      img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D")
  .quarter.padding
    a(href="/sponsors#Bronze")
      img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D")
  .quarter.padding
    a(href="/sponsors#Bronze")
      img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D")
  .clear
