#sponsors.full.light-grey
  .wrapper.nice-padding.clearfix
    .row
      h2.platinum Platinum Sponsors
      .half.text-center
        a(href="http://developer.paypal.com", target="_blank" title="PayPal | Developer")
          img.sponsor(src="/images/sponsors/paypal-developer.png" alt="sponsor")
      .half.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Platinum+Sponsor+%7D" alt="sponsor")
    .row
      h2.gold Gold Sponsors
      .half.text-center
        a(href="http://twilio.com", target="_blank", title="Twilio")
          img.sponsor(src="/images/sponsors/logos_downloadable_logobrand.png", alt="sponsor")
      .half.text-center
        a(href="http://engineering.talis.com", target="_blank", title="Talis")
          img.sponsor(src="/images/sponsors/talis.png" alt="Talis")
    .row
      h2.silver Silver Sponsors
      .third.text-center
        a(href="http://sendgrid.com", target="_blank", title="SendGrid")
          img.sponsor(src="/images/sponsors/logo_full_color_flat-a982ded4b0b159db49a552f2cf490439.png", alt="sponsor")
      .third.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Silver+Sponsor+%7D" alt="sponsor")
      .third.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Silver+Sponsor+%7D" alt="sponsor")
    .row
      h2.bronze Bronze Sponsors
      .quarter.text-center
        a(href="http://www.winningmoves.com")
          img.sponsor(src="/images/sponsors/winning-moves.jpg" alt="Winning Moves")
      .quarter.text-center
        a(href="http://bladerunnerjs.org/")
          img.sponsor(src="/images/sponsors/brjs-logo-full-black.png" alt="BladeRunnerJS")
      .quarter.text-center
        a(href="http://www.blubolt.com/")
          img.sponsor(src="/images/sponsors/blubolt-logo-2013.jpg" alt="Blubolt")
      .quarter.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D" alt="sponsor")
      .quarter.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D" alt="sponsor")
      .quarter.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D" alt="sponsor")
      .quarter.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D" alt="sponsor")
      .quarter.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D" alt="sponsor")
    .row
      p.text-center
        a(href="/sponsors") Join us as a sponsor
