#sponsors.full.light-grey
  .wrapper.nice-padding.clearfix
    .row
      h2.platinum Platinum Sponsors
      .half.text-center
        a(href="http://developer.paypal.com", target="_blank" title="PayPal | Developer")
          img.sponsor(src="/images/sponsors/paypal-developer.png" alt="sponsor")
      .half.text-center
        a(href="https://www.paymill.com/", target="_blank", title="PAYMILL")
          img.sponsor(src="/images/sponsors/paymill-claim-RGB.png" alt="PAYMILL")
    .row
      h2.gold Gold Sponsors
      .half.text-center
        a(href="http://twilio.com", target="_blank", title="Twilio")
          img.sponsor(src="/images/sponsors/logos_downloadable_logobrand.png", alt="sponsor")
      .half.text-center
        a(href="http://www.talis.com", target="_blank", title="Talis")
          img.sponsor(src="/images/sponsors/talis.png" alt="Talis")
    .row
      h2.silver Silver Sponsors
      .third.text-center
        a(href="http://sendgrid.com", target="_blank", title="SendGrid")
          img.sponsor(src="/images/sponsors/logo_full_color_flat-a982ded4b0b159db49a552f2cf490439.png", alt="SendGrid")
      .third.text-center
        a(href="https://www.justgiving.com/", target="_blank", title="Justgiving")
          img.sponsor(src="/images/sponsors/JustGiving.gif", alt="JustGiving")
      .third.text-center
        a(href="http://e4f.co.uk/", target="_blank", title="E4F")
          img.sponsor(src="/images/sponsors/e4f-medium.png" alt="E4F")
    .row
      .third.text-center
        a(href="http://www.capitalone.co.uk/web/index.jsf", target="_blank", title="Capital One")
          img.sponsor(src="/images/sponsors/C1_Core_G_CMYK copy.png" alt="Capital One")
      .third.text-center
        a(href="http://www.harveynash.com/", target="_blank", title="Harvey Nash")
          img.sponsor(src="/images/sponsors/Harvey Nash Logo High Res.jpg" alt="Harvey Nash")
      .third.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Silver+Sponsor+%7D" alt="sponsor")
    .row
      h2.bronze Bronze Sponsors
      .quarter.text-center
        a(href="http://www.winningmoves.com", target="_blank", title="Winning Moves")
          img.sponsor(src="/images/sponsors/winning-moves.jpg" alt="Winning Moves")
      .quarter.text-center
        a(href="http://bladerunnerjs.org/", target="_blank", title="BladerunnerJS")
          img.sponsor(src="/images/sponsors/brjs-logo-full-black.png" alt="BladeRunnerJS")
      .quarter.text-center
        a(href="http://www.blubolt.com/", target="_blank", title="Blubolt")
          img.sponsor(src="/images/sponsors/blubolt-logo-2013.jpg" alt="Blubolt")
      .quarter.text-center
        a(href="https://www.codeship.io/", target="_blank", title="Codeship")
          img.sponsor(src="/images/sponsors/logo_codeship_colour_new_whitebg.png" alt="Codeship")
    .row
      .quarter.text-center
        a(href="http://context.io/", target="_blank", title="Context.io")
          img.sponsor(src="/images/sponsors/contextio_logo_large.png" alt="Context.io")
      .quarter.text-center
        a(href="http://nimbleape.com/", target="_blank", title="Nimble Ape")
          img.sponsor(src="/images/sponsors/Nimble_Ape.png" alt="Nimble Ape")
      .quarter.text-center
        a(href="http://www.ibox-security.co.uk", target="_blank", title="iBox Security")
          img.sponsor(src="/images/sponsors/site-logo3.png" alt="iBox Security")
      .quarter.text-center
        a(href="http://aws.amazon.com/", target="_blank", title="Amazon Web Services")
          img.sponsor(src="/images/sponsors/aws_logo_web_300px.png" alt="Amazon Web Services")
    .row
      .quarter.text-center
        a(href="https://www.packtpub.com/", target="_blank", title="Packt Publishing")
          img.sponsor(src="/images/sponsors/packt-logo.png" alt="Packt Publishing")
      .quarter.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D" alt="sponsor")
      .quarter.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D" alt="sponsor")
      .quarter.text-center
        a(href="/sponsors")
          img.sponsor(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D" alt="sponsor")
    .row
      h2.student Student Sponsors
      .quarter.text-center
        a(href="http://www.joinef.com/", target="_blank", title="EF")
          img.sponsor(src="/images/sponsors/EF-logo.png" alt="EF")
    .row
      p.text-center
        a(href="/sponsors") Join us as a sponsor
