.full.blue-contact.blue-bg
  img.opacity(src="/images/contact.png", alt="contact")
  .contact-container.perfect
    h2 Get Updates
    form.subscribe(action="http://hackference.createsend.com/t/i/s/fjdku/" method="post" )
      label(for="fieldName") Name
      input#fieldName(name="cm-name" type="text" placeholder="your Name")
      label(for="fieldEmail") Email
      input#fieldEmail(name="cm-fjdku-fjdku" type="email" placeholder="your e-mail" required="required")
      button.btn(type="submit")
        a submit