iframe(src="https://www.eventbrite.co.uk/tickets-external?eid=6957928351&amp;ref=etckt" frameborder="0" height="300px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true")
div(style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;")
  a(style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt") Online event registration
  span(style="color:#ddd;") for
  a(style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.co.uk/e/hackference-2014-hack-tickets-6957928351?ref=etckt") Hackference 2.0.14 Hack
  span(style="color:#ddd;") powered by
  a(style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=etckt") Eventbrite